html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 10px;
}

body {
  background-color: lightgray;
}
.container {
  width: 100vw;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  width: 22%;
  height: auto;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  align-items: center;
  transition: all 0.3s;
  padding: 20px;
  background-color: thistle;
  border: 2px solid rgb(0, 0, 0);
  margin: 10px;
}

.card-img {
  width: 150px;
  height: auto;
}

h1 {
  font-size: 100px;
  text-align: center;
  background-color: gray;
  color: white;
}

@media screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }
  .card {
    width: 100%;
  }
}

.card:hover {
  transform: scale(1.1);
}

.card-header {
  padding-bottom: 10px;
}
