html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

.parent {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.child {
  width: 20%;
}

.child-1 {
  border: 3px solid green;
  height: 300px;
}

.child-2 {
  border: 3px solid yellow;
  height: 500px;
  flex-grow: 2;
}

.child-3 {
  border: 3px solid blue;
  height: 600px;
  flex-grow: 3;
}
